* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #020617;
}

.btn-download {
    background: #22c55e;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.banner {
    background: url("../images/banner.jpg") center/cover no-repeat;
    height: 60vh;
    display: flex;
    align-items: center;
    padding: 40px;
}

.banner-text {
    background: rgba(0,0,0,0.6);
    padding: 30px;
    border-radius: 12px;
}

.btn-main {
    display: inline-block;
    margin-top: 15px;
    background: #22c55e;
    color: black;
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.content {
    padding: 40px;
    text-align: center;
}

.developer {
    padding: 40px;
    text-align: center;
    background: #020617;
}

.developer img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.social a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
}

footer {
    text-align: center;
    padding: 15px;
    background: black;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .banner {
        height: auto;
        padding: 20px;
    }

    .banner-text {
        width: 100%;
    }
}
